body {
font-family: Helvetica;
height: 100vh; 
background-image: url("./images/astronaut.jpeg"); 
background-position: center;
background-size: cover;
background-repeat: no-repeat;
display:flex;
flex-direction: row;
}

#title {
height: 50px;
font-size: 80px;
color: aqua;
text-align: center;
position: relative;
bottom: 45%;
}

h2 {
margin-right: 30%;
color:greenyellow;
font-size: large;
max-width: 40%;

}

span {
font-size:xx-large;
color: crimson;
}

h3 {
color:greenyellow;
padding-bottom: 60px;
font-size:x-large;

#hint{
color:aquamarine
}


spot {
    font-size: xx-large;
    margin-top: 30%;

}


}
section{
text-align: center;
font-size: xx-large;
display: flex;
flex-direction: column;
justify-content: center;
width: 33%;
}

div {
color:cyan;
display:flex;
padding:10px;
position:relative;
bottom: 30px;
}

#instructions {
    display: flex;
    flex-direction: column;
    width: 33%;
    position: relative;
    top: 80px;
}
