body {
font-family: Helvetica;
height: 100vh; 
background-image: url("./images/astronaut.jpeg"); 
background-position: center;
background-size: cover;
background-repeat: no-repeat;
display:flex;
flex-direction: row;
}

#title {
height: 50px;
font-size: 80px;
color: aqua;
text-align: center;
}

h2 {
margin-right: 30%;
color:greenyellow;
font-size: medium;
max-width: 40%;
}

span {
font-size:xx-large;
color: crimson;
}

h3 {
color:rgb(246, 237, 71);
padding-bottom: 60px;
font-size:x-large;

}
section{
text-align: center;
font-size: xx-large;
display: flex;
flex-direction: column;
justify-content: center;
width: 33%;
}

div {
color:cyan;
display:flex;
padding: 10px;
}

#instructions {
    display: flex;
    flex-direction: column;
    width: 33%;
}
